:root {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000000;
    --accent-color: #D41443;
    --label-text-color: #FFA5BA;
    --additional-text-color: #907E82;
    --icon-bcg-color: #FEA5BB;
    --main-bcg-color: #FFB8CA;
    --primary-bcg-color: #E5E5E5;
    --secondary-bcg-color: #FFF5F6;
    --icecoffee-bcg-color: #F0D1A5;
    --milkshakes-bcg-color: #C2E297;
    --mobile-menu-color: #E17992;
    --button-hover-color: #ECEBEB;
    --line-color: #E18298;
    --reviews-bcg-color: #FAFAFA;
    --reviews-slick-point-color: #D9D9D9;
    --line-footer-color: #E1E1E1;

    --transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}