<section class="about" id="about">
    <div class="container container--padding">
        <div class="about__overlay">
            <p class="about__label">tradition and love</p>
            <h2 class="about__title">how it’s made?</h2>
            <div class="about__wrap">

                <img class="about__img" srcset="
                    ./images/about/pic-about-mobile@1x.png 280w,
                    ./images/about/pic-about-mobile@2x.png 560w,
                    ./images/about/pic-about-tablet@1x.png 336w,
                    ./images/about/pic-about-tablet@2x.png 672w,
                    ./images/about/pic-about-desktop@1x.png 501w,
                    ./images/about/pic-about-desktop@2x.png 1002w" src="./images/about/pic-about-mobile@1x.png"
                    loading="lazy" alt="Cow and milk"
                    sizes="(min-width: 1200px) 501px, (min-width: 768px) 336px, 100vw">

                <div class="about__info">
                    <p class="about__text about__text--primary">Milk is the main ingredient in production of ice-cream
                        and milkshakes. Its quality is the primary factor determining the
                        quality of our milk products.</p>
                    <p class="about__text">In order to make sure that our cows give the best milk they are provided with
                        supplemental feed consisting of mixed
                        ration of baled corn residue and distillers’ grains as well as organic grass makes a very good
                        ration.
                    </p>
                    <p class="about__text about__text--padding">Samples of milk are examined every day.</p>

                    <button class="about__button" type="button" data-modal-about-open>Read more
                        <svg class="about__icon" width="4.43px" height="8px">
                            <use href="./images/icons.svg#icon-Vector-red"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>