<div class="backdrop-map is-hidden-map" data-modal-map>
    <div class="backdrop-map__modal">
        <button type="button" class="backdrop-map__close-modal" data-modal-map-close>
            <svg class="backdrop-map__icon-close" width="10" height="10" aria-label="Close window">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="backdrop-map__title">
            Here we are!
        </h2>
        <div class="tabs">
            <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
            <label for="tab-btn-1">Chicago</label>
            <input type="radio" name="tab-btn" id="tab-btn-2" value="">
            <label for="tab-btn-2">LA</label>
            <input type="radio" name="tab-btn" id="tab-btn-3" value="">
            <label for="tab-btn-3">NY City</label>
        
            <div class="map" id="content-1">
                <iframe class="map__inside"
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11883.442780191112!2d-87.63240502564783!3d41.87434353401767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sua!4v1660655601414!5m2!1sen!2sua" 
                width="100%" 
                height="380" 
                style="border: 2px solid var(--accent-color);" 
                allowfullscreen="true" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div class="map" id="content-2">
              <iframe class="map__inside"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102796.8714510093!2d-118.29058395267097!3d34.03020549733532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2sua!4v1660655715778!5m2!1sen!2sua" 
              width="100%" 
                height="380" 
                style="border: 2px solid var(--accent-color);" 
                allowfullscreen="true" 
              loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            </div>
            <div class="map" id="content-3">
              <iframe class="map__inside" 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830894612!2d-74.11976383964465!3d40.69766374865766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sua!4v1660655795139!5m2!1sen!2sua" 
              width="100%" 
              height="380" 
              style="border: 2px solid var(--accent-color);" 
              allowfullscreen="true" 
              loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
          </div>
        
    </div>
</div>

<div class="backdrop-franchise is-hidden-franchise" data-modal-franchise>
    <div class="backdrop-franchise__modal">
        <button type="button" class="backdrop-map__close-modal" data-modal-franchise-close>
            <svg class="backdrop-map__icon-close" width="10" height="10" aria-label="Close window">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="backdrop-franchise__title">
            franchise agreement
        </h2>
        <div class="backdrop-franchise__inner">
            <div class="backdrop-franchise__text">
                <p>If you’re looking to start a franchise, we can provide you with such opportunity.</p>  
                <p>Ice-cream clubhouse was founded in 2002 by two brothers.</p>  
                <p>By this time, we have collected many recipes of the best ice-cream, coffee and milkshakes.</p>  
                <p>Our products are beloved by millions of customers in America and are ready to be spread all over the world.</p> 
                <p>If you are interested in a successful business, please contact us:</p>
                <div class="backdrop-franchise__text-center">
                    <a href="tel:+17735386565" class="contacts__contacts-list-item">+1 (773) 538-6565</a>
                    <span>or</span>
                    <a href="mailto:info@icecream.com" class="contacts__contacts-list-item">info@icecream.com</a>
                </div>
                
            </div>
        </div>
        
        <!-- <button type="button" class="backdrop-franchise__button" data-modal-franchise-close>
            <span class="backdrop-franchise__button-label">close</span>
        </button> -->
    </div>
</div>