<footer id="contact-footer" class="footer">
    <div class="footer-container container">
         <div class="footer-top">
                <div class="footer-title">
                    <p class="footer-title__part1">homemade ice cream made</p>
                    <p class="footer-title__part2">with passion</p>
                </div>
                <div class="footer-social">
                    <ul class="footer-social__list">
                    <li class="footer-social__item">
                        <a href="https://github.com/" target="_blank" class="footer-social__link">
                        <svg class="footer-social__icon"  width="32" height="32">
                            <use href="../src/images/icons.svg#icon-github"></use>
                        </svg>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="https://telegram.org" target="_blank" class="footer-social__link">
                        <svg class="footer-social__icon"  width="32" height="32">
                            <use href="../src/images/icons.svg#icon-telegram"></use>
                        </svg>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="https://facebook.com/" target="_blank" class="footer-social__link">
                        <svg class="footer-social__icon"  width="32" height="32">
                            <use href="../src/images/icons.svg#icon-facebook"></use>
                        </svg>
                        </a>
                    </li>
                    </ul>
                  <div class="footer-contact">
                      <p class="footer-contact__desc">free to contact &nbsp; </p>
                      <a class="footer-contact__link link" href="tel:0383766284">(0) 383 766 284</a>
                  </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p class="footer-copyright__text"> &copy; 2022 - IceCream. All Rights Reserved.
                 </p>
            </div>
        </div>
</footer>
  