<section id="gallery" class="section-gallery">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery">
        <div class="gallery__cards">
            <div class="gallery__cards-ice">
                     <picture>
                    <source media="(min-width: 1200px)" srcset="./images/gallery/desktop/img1.png 1x, ./images/gallery/desktop/img1@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="./images/gallery/tablet/img1.png 1x, ./images/gallery/tablet/img1@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="./images/gallery/mobile/img1.png 1x, ./images/gallery/mobile/img1@2x.png 2x" type="image/png">
                    <img src="./images/gallery/desktop/img1.png" loading="lazy" alt="Ice-Bone" width="100%">
                     </picture>
                     <div class="gallery__backdrop-desc">
                        <p class="gallery__text"> KULFI is a traditional Indian ice cream</p>
                     </div> 
            </div>
        </div>
        <div class="gallery__cards">
            <div class="gallery__cards-ice">
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/gallery/desktop/img2.png 1x, ./images/gallery/desktop/img2@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="./images/gallery/tablet/img2.png 1x, ./images/gallery/tablet/img2@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="./images/gallery/mobile/img2.png 1x, ./images/gallery/mobile/img2@2x.png 2x" type="image/png">
                    <img src="./images/gallery/desktop/img2.png" loading="lazy" alt="Ice-Vaffle" width="100%">
                </picture>  
                     <div class="gallery__backdrop-desc">
                        <p class="gallery__text">Sherbet - frozen treat made from fruit purée</p>
                     </div> 
            </div>
            <div class="gallery__cards-ice">
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/gallery/desktop/img3.png 1x, ./images/gallery/desktop/img3@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="./images/gallery/tablet/img3.png 1x, ./images/gallery/tablet/img3@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="./images/gallery/mobile/img3.png 1x, ./images/gallery/mobile/img3@2x.png 2x" type="image/png">
                    <img src="./images/gallery/desktop/img3.png" loading="lazy" alt="Fruit-Ice" width="100%">
                </picture> 
                     <div class="gallery__backdrop-desc">
                        <p class="gallery__text">Sorbet is frozen treat using berries & sweetened water</p>
                     </div> 
            </div>
        </div>
        <div class="gallery__cards gallery__cards-big">
            <div class="gallery__cards-ice-big">
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/gallery/desktop/img4.png 1x, ./images/gallery/desktop/img4@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="./images/gallery/tablet/img4.png 1x, ./images/gallery/tablet/img4@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="./images/gallery/mobile/img4.png 1x, ./images/gallery/mobile/img4@2x.png 2x" type="image/png">
                    <img src="./images/gallery/desktop/img4.png" loading="lazy" alt="Ice-Variables" width="100%">
                </picture>  
                     <div class="gallery__backdrop-desc gallery__backdrop-desc-big">
                        <p class="gallery__text">Gelato is a highly popular Italian ice cream that’s made with whole milk, rather than cream. As a result, gelato has a lower milk fat percentage. Gelato is also made without eggs and stabilizers and churned at a lower speed. The most popular gelato flavors are pistachio, vanilla, strawberry, and stracciatella.</p>
                     </div> 
            </div>
            <div class="gallery__cards-ice">
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/gallery/desktop/img5.png 1x, ./images/gallery/desktop/img5@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="./images/gallery/tablet/img5.png 1x, ./images/gallery/tablet/img5@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="./images/gallery/mobile/img5.png 1x, ./images/gallery/mobile/img5@2x.png 2x" type="image/png">
                    <img src="./images/gallery/desktop/img5.png" loading="lazy" alt="Ice-Girl" width="100%">
                </picture>
                     <div class="gallery__backdrop-desc">
                        <p class="gallery__text">SOFT SERVE rapidly churned blend of milk & sugar</p>
                     </div>     
            </div>
        </div>
        <div class="gallery__cards gallery__cards-top">
            <div class="gallery__cards-ice">
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/gallery/desktop/img6.png 1x, ./images/gallery/desktop/img6@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="./images/gallery/tablet/img6.png 1x, ./images/gallery/tablet/img6@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="./images/gallery/mobile/img6.png 1x, ./images/gallery/mobile/img6@2x.png 2x" type="image/png">
                    <img src="./images/gallery/desktop/img6.png" loading="lazy" alt="Cup-Ice-Cream" width="100%">
                </picture>  
                     <div class="gallery__backdrop-desc">
                        <p class="gallery__text">SNOW CREAM a pile of fluffy and delicate strips</p>
                     </div>  
            </div>
            <div class="gallery__cards-ice">
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/gallery/desktop/img7.png 1x, ./images/gallery/desktop/img7@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="./images/gallery/tablet/img7.png 1x, ./images/gallery/tablet/img7@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="./images/gallery/mobile/img7.png 1x, ./images/gallery/mobile/img7@2x.png 2x" type="image/png">
                    <img src="./images/gallery/desktop/img7.png" loading="lazy" alt="Red-Ice-Cream" width="100%">
                </picture> 
                     <div class="gallery__backdrop-desc">
                        <p class="gallery__text">ITALIAN ICE - is well icier while sorbet has smoother mouthfeel</p>
                     </div>   
            </div>
        </div>
        <div class="gallery__cards gallery__cards-bottom">
            <div class="gallery__cards-ice">
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/gallery/desktop/img8.png 1x, ./images/gallery/desktop/img8@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="./images/gallery/tablet/img8.png 1x, ./images/gallery/tablet/img8@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="./images/gallery/mobile/img8.png 1x, ./images/gallery/mobile/img8@2x.png 2x" type="image/png">
                    <img src="./images/gallery/desktop/img8.png" loading="lazy" alt="Dog-with-Ice-Cream" width="100%">
                </picture>   
                     <div class="gallery__backdrop-desc">
                        <p class="gallery__text">Frozen yogurt made with it sometimes other dairy products</p>
                     </div>                  
            </div>
            <div class="gallery__cards-ice">
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/gallery/desktop/img9.png 1x, ./images/gallery/desktop/img9@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="./images/gallery/tablet/img9.png 1x, ./images/gallery/tablet/img9@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="./images/gallery/mobile/img9.png 1x, ./images/gallery/mobile/img9@2x.png 2x" type="image/png">
                    <img src="./images/gallery/desktop/img9.png" loading="lazy" alt="Smoozy-Ice-Cream" width="100%">
                </picture>   
                     <div class="gallery__backdrop-desc">
                        <p class="gallery__text">Falooda - cold dessert, has its origin in Persian cuisine</p>
                     </div>   
            </div>
        </div>
        <div class="gallery__cards gallery__cards-last">
            <div class="gallery__cards-ice">
                <picture>
                    <source media="(min-width: 1200px)" srcset="./images/gallery/desktop/img10.png 1x, ./images/gallery/desktop/img10@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="./images/gallery/tablet/img10.png 1x, ./images/gallery/tablet/img10@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="./images/gallery/mobile/img10.png 1x, ./images/gallery/mobile/img10@2x.png 2x" type="image/png">
                    <img src="./images/gallery/desktop/img10.png" loading="lazy" alt="Ice-Cream-Cake" width="100%">
                </picture>  
                     <div class="gallery__backdrop-desc">
                        <p class="gallery__text">Cake Cones - wafer cones, extremely light, subtly and flaky</p>
                     </div>                  
            </div>
        </div>
  </div>
</section>