<header class="page-header" id="page-header-section">
    <div class="page-header__container">
        <nav class="header-nav">
            <a href="./index.html" class="header-logo">
                <img srcset="./images/header-nav/logo.png 1x, ./images/header-nav/logo@2x.png 2x" 
                src="./images/header-nav/logo.png" 
                alt="Logo" width="199">
            </a>
            <ul class="header-nav__list">
                <li class="header-nav__item">
                    <a href="#page-header-section" class="header-nav__link">Home</a>
                </li>
                <li class="header-nav__item">
                    <a href="#our-contacts" class="header-nav__link">About us</a>
                </li>
                <li class="header-nav__item">
                    <a href="#about" class="header-nav__link">How it’s made?</a>
                </li>
                <li class="header-nav__item">
                    <a href="#products" class="header-nav__link">Our products</a>
                </li>
                <li class="header-nav__item">
                    <a href="#contact-footer" class="header-nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="container-button">
            <button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                <svg class="menu-toggle__icon" width="20px" height="12px">
                    <use href="./images/icons.svg#icon-Burger"></use>
                </svg>
            </button>
            <button type="button" class="header-button header-button__nav js-buybtn" data-modal-purchase-open>Buy now
                <svg class="header-button__icon" width="4px" height="8px">
                    <use href="./images/icons.svg#icon-Vector-red"></use>
                </svg>
            </button>
        </div>
        <div class="menu-container js-menu-container" id="mobile-menu">
            <button type="button" class="menu-toggle menu-container__menu-toggle js-close-menu">
                <svg class="menu-container__icon" width="14px" height="14px">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <button type="button" class="header-button header-button__menu" data-modal-purchase-mobil-open>Buy now
                <svg class="header-button__icon" width="4px" height="8px">
                    <use href="./images/icons.svg#icon-Vector-red"></use>
                </svg>
            </button>
            <ul class="menu-container__list js-mobile-menu">
                <li class="menu-container__item">
                    <a href="#page-header-section" class="menu-container__link">Home</a>
                </li>
                <li class="menu-container__item">
                    <a href="#our-contacts" class="menu-container__link">About us</a>
                </li>
                <li class="menu-container__item">
                    <a href="#about" class="menu-container__link">How it’s made?</a>
                </li>
                <li class="menu-container__item">
                    <a href="#products" class="menu-container__link">Our products</a>
                </li>
                <li class="menu-container__item">
                    <a href="#contact-footer" class="menu-container__link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>