<section id="products" class="products">
    <div class="container container-products">
        <p class="products__line">100% natural</p>
        <h2 class="products__text">products</h2>
        <ul class="products__blok">
            <li class="products__link products__link--ping" data-card-ice-cream>
                
                <picture>
                    <source srcset="./images/products/ice-cream480.png 1x,
                     ./images/products/ice-cream480@2x.png 2x " media="(max-width: 768px)">
                     <source srcset="./images/products/ice-cream768.png 1x,
                     ./images/products/ice-cream768@2x.png 2x " media="(max-width: 1199px)">
                     <source srcset="./images/products/ice-cream1200.png 1x,
                     ./images/products/ice-cream1200@2x.png 2x " media="(min-width: 1200px)">
                     <img class="products__link-img" src="./images/products/ice-cream1200.png" 
                     alt="ice cream">
                </picture>
                <div class="products__content" data-text-ice-cream>
                <h3 class="products__link-text">ice cream</h3>
                <div class="point"></div>
                <p class="product__link-text--change" data-invisible-ice-cream>
                    35 flavors of ice-cream are collected in our clubhouses. Follow an arrow to see the most popular recipe.
                </p>
                <p class="product__link-text--change invisible" data-visible-ice-cream>
                    400g strawberries, stalks removed, 1-2 tsp lemon juice, 600ml double cream, 300ml whole milk, 150g caster sugar,
                </p>
                </div>
                <button class="products__button" type="button" data-rotate-card-ice-cream>
                    <svg class="products__icon" width="30px" height="30px">
                        <use href="./images/icons.svg#icon-direction-right">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="products__link products__link--coffee" data-card-ice-coffee>
                <picture>
                    <source srcset="./images/products/ice-coffee480.png 1x,
                     ./images/products/ice-coffee480@2x.png 2x " media="(max-width: 768px)">
                     <source srcset="./images/products/ice-coffee768.png 1x,
                     ./images/products/ice-coffee768@2x.png 2x " media="(max-width: 1199px)">
                     <source srcset="./images/products/ice-coffee1200.png 1x,
                     ./images/products/ice-coffee1200@2x.png 2x " media="(min-width: 1200px)">

                     <img class="products__link-img" src="./images/products/ice-coffee1200.png" 
                     alt="ice coffee">
                </picture>
                <div class="products__content" data-text-ice-coffee>
                    <h3 class="products__link-text">ice coffee</h3>
                <div class="point"></div>
                <p class="product__link-text--change" data-invisible-ice-coffee>
                    5 types of ice-coffee are prepared by our baristas. Follow an arrow to see the most popular recipe.
                </p>
                <p class="product__link-text--change invisible" data-visible-ice-coffee>
                    1/2 cups whole milk, 3/4 cup sugar, 1/2 cups whole coffee beans, 1/2 cups heavy cream, 5 egg yolks, 
                </p>
                </div>
                <button class="products__button" type="button" data-rotate-card-ice-coffee>
                    <svg class="products__icon" width="30px" height="30px">
                        <use href="./images/icons.svg#icon-direction-right">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="products__link products__link--green" data-card-milkshake>
                <picture>
                    <source srcset="./images/products/milkshares480.png 1x,
                     ./images/products/milkshares480@2x.png 2x " media="(max-width: 768px)">
                     <source srcset="./images/products/milkshares768.png 1x,
                     ./images/products/milkshares768@2x.png 2x " media="(max-width: 1199px)">
                     <source srcset="./images/products/milkshares1200.png 1x,
                     ./images/products/milkshares1200@2x.png 2x " media="(min-width: 1200px)">
                     <img class="products__link-img" src="./images/products/milkshares1200.png" 
                     alt="milkshakes">
                </picture>
                <div class="products__content" data-text-milkshake>
                <h3  class="products__link-text">milkshakes</h3>
                <div class="point"></div>
                <p class="product__link-text--change" data-invisible-milkshake>
                    35 flavors of milkshakes are served in our clubhouses. Follow an arrow to see the most popular recipe.
                </p>
                <p class="product__link-text--change invisible" data-visible-milkshake>
                    2 cups vanilla ice cream, 1/2 cup whole milk cold, 1/4 cup chocolate syrup, 1/4 cup chocolate chips, 
                </p>
                </div>
                <button class="products__button" type="button" data-rotate-card-milkshake>
                    <svg class="products__icon" width="30px" height="30px">

                        <use href="./images/icons.svg#icon-direction-right">
                        </use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>