<section class="section">
    <div class="reviews container">
        <h2 class="visually-hidden reviews__title">Customer Reviews</h2>
        <div class="one-time">
                <article class="slick">
                   <img class="reviews__avatar"
                   srcset="./images/reviews/emily.jpg 1x, ./images/reviews/emily@2x.jpg 2x"
                   src="./images/reviews/emily.jpg" 
                   alt="Emily photo"
                   loading ="lazy">
                    <div class="reviews__description">
                        <p class="reviews__text">I ordered coffee of this brand for the first time. I really liked the service, attentive to each client. This is not just coffee with syrup and ice, this is very tasty coffee with a rich taste. You are great!</p>
                    </div>
                    <h3 class="reviews__author">Emily, Los Angeles</h3>
                </article>
                <article class="slick"> 
                    <img class="reviews__avatar"
                    srcset="./images/reviews/kate.jpg, ./images/reviews/kate@2x.jpg 2x"
                    src="./images/reviews/kate.jpg" alt="Kate photo"
                    loading ="lazy">
                    <div class="reviews__description">
                     <p class="reviews__text">I have never tasted such a delicious milkshake anywhere else, it is simply delicious. I ordered two different flavors, vanilla and chocolate.. very tasty... Now I am your regular customer.</p>
                    </div>
                     <h3 class="reviews__author">Kate, New York</h3>
                </article>
                <article class="slick"> 
                    <img class="reviews__avatar"
                    srcset="./images/reviews/olexandra.jpg 1x, ./images/reviews/olexandra@2x.jpg 2x" 
                    src="./images/reviews/olexandra.jpg" 
                    alt="Olexandra photo"
                    loading ="lazy">
                    <div class="reviews__description">
                    <p class="reviews__text">I have already tried the whole range. I like everything very much. I want to note the speed of delivery, customer-oriented approach, always fresh ice cream and very tasty. Thanks to your company!</p>
                </div>
                <h3 class="reviews__author">Helen, Chicago</h3>
                </article>
              </div> 
    </div>      
        </section>
